<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("lokiHost")'>
        <then>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>http://${lokiHost}:3100/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>app=my-app,host=${HOSTNAME}</pattern>
                    </label>
                    <message>
                        <pattern>%-5level [%.5(${HOSTNAME})] %.10thread %logger{20} | %msg %ex</pattern>
                    </message>
                </format>
            </appender>

            <root level="INFO">
                <appender-ref ref="LOKI"/>
                <appender-ref ref="CONSOLE"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>
</configuration>